.profile__button-add {
  margin: 0;
  padding: 0;
  background-color: #000000;
  margin-left: auto;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  box-sizing: border-box;
  width: 150px;
  min-height: 50px;
  cursor: pointer;
  background-image: url(../../../images/button2.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.profile__button-add:hover {
  opacity: .6;
}

@media screen and (max-width: 780px) {
  .profile__button-add {
    width: 100%;
    margin-top: 36px;
    background-size: 16px;
  }
}
