.profile__button-info {
  margin: 0;
  padding: 0;
  align-self: center;
  border: 1px solid #FFFFFF;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  background-color: #000000;
  cursor: pointer;
  background-image: url(../../../images/button1.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.profile__button-info:hover {
  opacity: .6;
}

@media screen and (max-width: 780px) {
  .profile__button-info {
    width: 18px;
    height: 18px;
    background-size: 7.5px;
  }
}
