.popup__input-text-error {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #FF0000;
  display: block;
  min-height: 30px;
  padding-top: 5px;
  box-sizing: border-box;
}
